# Large data files that are combined and downloaded from the internet
/data/newsqa/newsqa-data-v1/train
/data/newsqa/newsqa-data-v1/dev
/data/glove.6B
/data/output
/data/squad

# Local plan, will later go in the readme
plan.txt
